.header__lang-link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    text-decoration-line: none;
    color: white;
}

.header__lang-link:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 767px) {    
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}