.place__website-top {
    margin-top: 87px;
}

@media screen and (max-width: 1023px) {
     .place__website-top {
        margin-top: 25px;
    }
}

@media screen and (max-width: 767px) {
      .place__website-top {
        display: none;
    }
}