.place__link {
    width: 456px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 12px;
}

.place__link:hover { 
    opacity: 0.8;
}
