.place {
    max-width: 984px;
    width: 100%;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: 500px 484px;
    grid-template-rows: 200px auto;
}

.place:first-of-type {
    margin: 0px auto;
}

@media screen and (max-width: 1279px){
	.place {
        max-width: 928px;
        grid-template-columns: 472px 456px;
        grid-template-rows: 200px auto;
        margin: 92px auto 0;
    }
}

@media screen and (max-width: 1023px) {
	.place {
        max-width: 720px;
        grid-template-columns: 368px 352px;
        grid-template-rows: 140px auto;
        margin: 72px auto 0;
    }
	.place:nth-child(4) {
        grid-template-columns: 368px 352px;
        grid-template-rows: 94px auto;
    }
}

@media screen and (max-width: 767px) {
	.place {
        display: flex;
        flex-direction: column;
        max-width: 320px;
    }
	.place:nth-child(4) {
        margin-top: 48px;
    }
}