.footer {
    width: 93%;
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 64px 118px 24px auto;
        display: block;
        padding-left: 16px;
    }
}