.page {
    width: 1280px;
    margin: 0 auto auto;
    padding-top: 28px;
    background-color: #2A2C2F;
}

.header {
    width: 92%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__lang-links {
    width: 78px;
    display: flex;
    justify-content: space-between;
}

.header__lang-link {
    font-style: normal;
    font-family: Inter;
    font-size: 24px;
    text-decoration-line: none;
    color: white;
    
}

.header__lang-link:hover {
    text-decoration-line: underline;
}

.lead {
    margin: 56px auto 0;
}

.lead__title {
    width: 720px;
    height: 200px;
    margin: 0 auto 0;
    color: white;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.lead__subtitle {
    width: 640px;
    height: 72px;
    margin: 32px auto 0;
    color: white;
    font-family: Inter;
    line-height: 36px;
    text-align: center;
    font-size: 30px;
}

.lead__image {
    width: 984px;
    height: 615px;
    margin: 64px 11.5% 0;
}

.lead__caption {
    margin-left: 11.5%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
}

.intro {
    margin: 92px 11.5%  0;
    padding-left: 0;
}

.intro__title {
    width: 690px;
    height: 58px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: white;
    margin: 0;
}

.intro__text {
    width: 690px;
    height: 209px;
    color: white;
    font-family: Inter;
    line-height: 163%;
    margin: 40px auto 32px 0px;
}

.intro__list {
    width: 690px;
    height: 90px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}

.photo-grid {
    width: 1184px;
    height: 671px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    margin: 92px auto 0;
}

.photo-grid__item {
    width: 284px;
    height: 213px;
}

.places {
    margin: 92px auto;
}

.place:first-of-type {
    margin: 0px auto;
}

.place {
    width: 984px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: 500px 484px;
    grid-template-rows: 200px auto;
}

.place__min {
    width: 984px;
    margin: 80px auto 0;
    display: grid;
    grid-template-columns: 500px 484px;
    grid-template-rows: 124px auto;
}

.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
}

.place__image {
    box-sizing: border-box;
    width: 460px;
    height: 460px;
} 

.place__website_top {
    margin-top: 87px;
}

.place__website_top_baikal {
    margin-top: 87px;
}

.place__url-heading {
    height: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__link {
    width: 456px;
    height: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover { 
    opacity: 0.8;
}

.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
}

.cover {
    position: relative;
    width: 1184px;
    height: 740px;
    margin: 92px auto 0;
    background-image: url(../images/cover-trains.jpg);
    background-size: cover;
}

.cover::after {
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    width: 1184px;
    height: 740px;
    position: absolute;
    transition: opacity 0.3s linear;
}

.cover:hover:after {
    opacity: 0.8;
    transition: opacity 0.3s linear;
}

.cover__title {
    width: 560px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 245px;
    left: 0;
    right: 0;
}

.cover__subtitle {
    width: 360px;
    height: 66px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 429px;
    left: 0;
    right: 0;
    
}

.footer {
    width: 93%;
    height: 18px;
    margin: 92px auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.footer__link_display {
    display: inline;
    margin-right: 18px;
}

.footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__author {   
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}






@media screen and (max-width: 1024px){
    .page {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        margin: 88px 4.6%;
    }

    .lead__image {
        width: 928px;
        height: 580px;
        margin: 48px 4.6% 0;
    }

    .lead__caption {
        margin-left: 4.6%;
    }

    .photo-grid {
        width: 928px;
        height: 942px;
        display: grid;
        grid-template-rows: repeat(4, auto);
        grid-template-columns: repeat(3, auto);
        gap: 14px;
        margin: 92px auto 0 auto;
    }

    .place {
        width: 928px;
        grid-template-columns: 472px 456px;
        grid-template-rows: 200px auto;
        margin: 92px auto 0;
    }

    .place__min {
        width: 928px;
        grid-template-columns: 472px 456px;
        grid-template-rows: 124px auto;
    }

    .place__image {
        width: 440px;
        height: 440px;
    } 

    .photo-grid__item {
        width: 300px;
        height: 225px;
    }

    .cover {
        position: relative;
        width: 1024px;
        height: 640px;
        margin: 0px auto 0;
        background-image: url(../images/cover-trains.jpg);
        background-size: cover;
    }

    .cover__title {
        margin-top: 195px;
    }

    .cover__subtitle {
        margin-top: 379px;
    }

    .cover::after {
        content: '';
        background-color: #2A2C2F;
        opacity: 0.3;
        width: 1024px;
        height: 640px;
        position: absolute;
        transition: opacity 0.3s linear;
    }
}






@media screen and (max-width: 768px) {
    .page {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .intro {
        margin: 88px 3.2%;
    }

    .lead {
        margin: 48px auto 0;
    }

    .lead__image {
        width: 768px;
        height: 480px;
        margin: 56px 0 0;
    }
    
    .lead__caption {
        margin-left: 3.2%;
    }

    .photo-grid {
        width: 720px;
        height: 1664px;
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(2, auto);
        gap: 16px;
        margin: 88px auto;
    }

    .photo-grid__item {
        width: 352px;
        height: 264px;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 340px;
        height: 46px;
    }

    .place__title:first-of-type {
        width: 330px;
    }

    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }

    .place__website_top {
        margin-top: 25px;
    }

    .place__website_top_baikal {
        margin-top: 0px;
    }

    .places {
        margin: 88px auto;
    }

    .place {
        width: 720px;
        grid-template-columns: 368px 352px;
        grid-template-rows: 140px auto;
        margin: 72px auto 0;
    }

    .place:nth-child(4) {
        grid-template-columns: 368px 352px;
        grid-template-rows: 94px auto;
    }
    
    .place__min {
        width: 720px;
        grid-template-columns: 368px 352px;
        grid-template-rows: 94px auto;
        margin: 72px auto 0
    }

    .place__image {
        width: 340px;
        height: 340px;
    } 

    .cover {
        position: relative;
        width: 768px;
        height: 480px;
        margin: 0px auto 0;
        background-image: url(../images/cover-trains.jpg);
        background-size: cover;
    }

    .cover::after {
        content: '';
        background-color: #2A2C2F;
        opacity: 0.3;
        width: 768px;
        height: 480px;
        position: absolute;
        transition: opacity 0.3s linear;
    }

    .cover__title {
        margin-top: 115px;
    }

    .cover__subtitle {
        margin-top: 299px;
    }

}

@media screen and (max-width: 320px) {
    .page {
        width: 320px;
    }
    
    .header {
        width: 90%;
        height: 42px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }
    
    .header__lang-links {
        width: 61px;
        margin-top: 10px;
    }
    
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        text-decoration-line: none;

    }
    
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 288px;
        height: 88px;
    }

    .lead__subtitle {
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    
    .lead__image {
        width: 320px;
        height: 200px;
    }

    .intro__title {
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        width: 288px;
        height: 522px;
        font-size: 16px;
        line-height: 163%;
    }

    .intro__list {
        width: 288px;
        height: 90px;
        font-size: 12px;
        line-height: 18px;
    }

    .photo-grid {
        width: 288px;
        height: 2724px;
        grid-template-rows: repeat(12, auto);
        grid-template-columns: repeat(1, auto);
        gap: 12px;
        margin: 64px auto;
    }

    .photo-grid__item {
        width: 288px;
        height: 216px;
    }

    .places {
        width: 320px;
        margin: 64px auto;
    }

    .place {
        display: flex;
        flex-direction: column;
        width: 320px;
    }

    .place__title:first-of-type {
        width: 288px;
        height: 35px;
        margin: 0 auto;
    }

    .place__min {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin: 48px auto 0;
    }

    .place__image {
        width: 320px;
        height: 320px;
        margin-top: 32px;
    }

    .place__title {
        width: 288px;
        height: 35px;
        font-size: 32px;
        line-height: 35px;
    }

    .place__website_top {
        display: none;
    }

    .place__website_top_baikal {
        display: none;
    }

    .place__website_inline-text {
        display: none;
    }

    .place__paragraph {
        width: 288px;
        font-size: 16px;
        line-height: 163%;
        margin: 32px auto 0;
    }

    .place:nth-child(4) {
        margin-top: 48px;
    }

    .cover {
        width: 320px;
        height: 200px;
    }

    .cover::after {
        width: 320px;
        height: 200px;
    }

    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 33px;
    }

    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 119px;
    }

    .footer {
        width: 186px;
        height: 310px;
        margin: 64px 118px 0px auto;
        display: block;
    }

    .footer__link {
        font-size: 24px;
        line-height: 24px;
        display: block;
        padding-bottom: 12px;
    }

    .footer__author {
        line-height: 14px;
        width: 181px;
        height: 14px;
    }
}